.ourProducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
    gap: 40px;
    h2{
        font-size: 30px;
    }
}
.products{
    border: 1px solid black;
}